* {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-size: 100%;
    text-decoration: none;
    color: black;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(236, 234, 234);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center{
    align-items: center;
}

.flex-spacebtw {
    justify-content: space-between;
}

.switch-btn{
    border: none;
    transition: box-shadow 0.3s ease;
    width: 49vw;
    background-color: white;
    border-bottom: 1px lightgray solid;
    font-size: 150%;
    margin-top: 5vh;
}

.switch-btn:hover{
    box-shadow: 0 0 10px 2px rgba(44, 44, 44, 0.5);
}

.form{
    margin-top: 10vh;
}

.form-inputs{
    border: 1px lightgray solid;
    box-shadow: 0 0 10px 2px rgba(44, 44, 44, 0.5);
    width: 75vw;
    height: 6vh;
    background-color: white;
    margin-bottom: 5vh;
}

.form-btn{
    border: 1px lightgray solid;
    width: 75vw;
    height: 6vh;
    background-color: white;
}

.form-btn:hover{
    box-shadow: 0 0 10px 2px rgba(44, 44, 44, 0.5);
}

.hide{
    display: none;
}

.show{
    display: flex;
}